<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../hint.css-2.7.0/hint.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=The+Nautigal&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Accueil - Aïolah Vaïti</title>
    <script src="js/meta_desc.js"></script>
    <script>

        // On redirige vers m.aiolah-vaiti.fr si on est sur un portable
        {# if(window.innerWidth <= 480)
        {
            window.location.href = "https://m.aiolah-vaiti.fr";
        } #}

    </script>
</head>
<header>
    <h1>IMAGE</h1>
</header>
<nav>
    <ul>
        <li><a href="https://aiolah-vaiti.fr" id="accueil">Accueil</a></li>
        <li><a href="?page=realisations" id="realisations">Mes réalisations</a></li>
        <li><a href="?page=parcours" id="parcours">Mon parcours</a></li>
        <li><a href="?page=mission-de-service" id="mission-de-service">Ma mission de service</a></li>
        <li><a href="?page=contact" id="contact">Contact</a></li>
    </ul>
    <img src="images/menu-burger.png" id="menu-burger" class="menu-icons iconActive">
    <img src="images/menu-burger-croix.png" id="menu-burger-cross" class="menu-icons iconNonActive">
</nav>
<body>
    <main>
        <div id="container">
            <aside>
                <img src="images/photos.gif" alt="Aïolah Vaïti" id="me">
                <div>
                    <p>It's-a-me, <strong>Aïolah Vaïti</strong></p>
                    <div>
                        <a href="documents/CV.pdf" target="_blank" title="Mon CV !" class="icon">
                            <img src="images/CV.png" alt="Icône CV">
                        </a>
                        <a href="https://www.linkedin.com/in/aiolah-vaiti/" target="_blank" title="Mon compte LinkedIn !" class="icon">
                            <img src="images/linkedin.png" alt="Icône LinkedIn">
                        </a>
                        <a href="https://github.com/aiolah" target="_blank" title="Mes repositories Github !" class="icon">
                            <img src="images/github-gradient.png" alt="Icône Github">
                        </a>
                    </div>
                </div>
                <p id="quote">Clique ici pour découvrir quelque chose à propos de moi 😃 !</p>
            </aside>
            <div id="profile-container">
                <img src="images/profil.png" id="profile" class="iconActive">
                <img src="images/croix.png" id="cross" class="iconNonActive">
            </div>
        </div>

        {% if accueil %}
            <article>
                <h1>Bienvenue sur mon portfolio !</h1>
                <div style="width:100%;height:0;padding-bottom:30%;position:relative;overflow:hidden">
                    <iframe src="https://giphy.com/embed/bcKmIWkUMCjVm" width="100%" height="70%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
                <p class="legend">
                    Je m'appelle <strong>Aïolah Vaïti</strong>, j'ai <strong>21 ans</strong> et je sers actuellement une <a href="?page=mission-de-service" class="lien">mission de service</a>.<br>
                    J'ai créé ce portofolio afin de mettre en ligne mes diverses <a href="?page=realisations" class="lien">réalisations</a> réalisées lors de mes études.<br>
                    J'ai également consacré une page à mon <a href="?page=parcours" class="lien">parcours</a> scolaire, universitaire et humanitaire.
                </p>
                <p class="legend">Bonne visite 😄 !</p>
            </article>
        {% else %}
            {% block section %}
            {% endblock %}
        {% endif %}
    </main>
    <footer>
        <p>Réalisé par Aïolah Vaïti from scratch - <a href="https://icons8.com/icon/16100/visible" target="_blank">Visible icons by Icons8</a>
            {% if accueil %}
                - GIF <a href="https://giphy.com/gifs/animated-hello-waving-bcKmIWkUMCjVm">via GIPHY</a>
            {% endif %}
        </p>
        <p><a href="?page=mentions-legales">Mentions légales</a></p>
    </footer>
    <script src="js/accueil.js"></script>
    <script src="js/aside.js"></script>
    <script src="js/anecdotes.js"></script>
    <script src="js/liens.js"></script>
    {% if mission %}
        <script src="js/mission.js"></script>
    {% endif %}
    <script>

        // Si on est sur un portable, on crée la div d'id container, le aside et le div profil-container deviennent ses enfants puis cette div container devient enfant de main
        {# if(window.innerWidth <= 480)
        {
            let div = document.createElement("div");
            div.id = "container";
            div.appendChild(document.querySelector("aside"));
            div.appendChild(document.getElementById("profil-container"));
            let main = document.querySelector("main");
            main.insertBefore(div, main.childNodes[0]);
        } #}
    
    </script>
</body>
</html>