{% extends "accueil.html.twig" %}

{% block section %}

    <article>
        <h1>Mentions légales</h1>
        <h2>Conception et hébergement du site</h2>
        <p id="first-paragraph" class="mentions-legales">
            Ce site a été réalisé par <strong>Aïolah Vaïti</strong>, actuellement étudiante.<br><br>
            Ce site est hébergé chez <a href="https://www.hostinger.fr" target="_blank">Hostinger</a>, une entreprise fournissant des services de webhosting et basée en Lituanie.<br><br>
            Bureau de Hostinger : Hostinger International Ltd. Jonavos g. 60C, 44192 Kaunas, Lithuania.
        </p>
        <h2>Propriété intellectuelle</h2>
        <p class="mentions-legales">
            Aïolah Vaïti est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site, notamment : les textes, les images… Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable d'Aïolah Vaïti. Toute exploitation non autorisée du site ou d’un quelconque élément qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.<br><br>
            <ul id="credits">
                <li>Crédit photo et vidéo : Aïolah Vaïti</li>
                <li>Crédit icônes : <a href="https://icons8.com" target="_blank">Icons8</a></li>
                <li>Crédit image couverture : <a href='https://fr.freepik.com/vecteurs/fond'>0melapics - fr.freepik.com</a></li>
            </ul>
        </p>
    </article>


{% endblock %}