{% extends "accueil.html.twig" %}

{% block section %}

        <article>
            <h1>Mon parcours et mon expérience</h1>
            <div id="container-parcours">
                <section id="section1" class="section">
                    <div id="bar1" class="bar"></div>
                    <div id="circle1" class="circle"></div>
                </section>
                <section id="section2" class="section description">
                    <div class="training" id="mission">
                        <p class="mention">
                            <strong>Troisième année de BUT Métiers du Multimédia et de l'Internet (MMI), parcours Développement web et dispositifs interactifs</strong> | 2023 - 2024, en cours<br>
                            IUT Paul Sabatier, Université Toulouse III - Site de Castres<br><br>
                            &<br><br>
                            <strong>Alternance à Associate Agency</strong> | 2023 - 2024, en cours<br>
                            <p class="second-mention">
                                <ul>
                                    <li>Développement d'une application web CRUD (Create, Read, Update, Delete) avec PHP et Bootstrap</li>
                                </ul>
                            </p>
                        </p>
                    </div>
                </section>

                <section id="section3" class="section">
                    <div class="bar"></div>
                    <div class="circle"></div>
                </section>
                <section id="section4" class="section description">
                    <div class="training" id="mission">
                        <p class="mention">
                            <strong>Mission de service</strong> | 2021 - 2022, 1 an<br>
                            Secours catholique, Croix-Rouge, Banque alimentaire, École du chat libre de Toulouse
                        </p>
                    </div>
                </section>

                <section id="section5" class="section">
                    <div class="bar"></div>
                    <div id="square1" class="square-oriented"></div>
                </section>
                <section id="section6" class="section description">
                    <div class="training" id="mission">
                        <p class="mention">
                            <strong>Job d'été</strong> | 2020, 1 mois<br>
                            Association Union Mazamétaine des Centres de Vacances (UMCV) - Centre de vacances Le Boucalais à Vieux-Boucau
                        </p>
                        <p class="second-mention">
                            Agent d'entretien : nettoyage et désinfection des sanitaires et des douches, nettoyage des chambres et des pièces communes
                        </p>
                    </div>
                </section>

                <section id="section7" class="section">
                    <div class="bar"></div>
                    <div id="square2" class="square-oriented"></div>
                </section>
                <section id="section8" class="section description">
                    <div class="training" id="mission">
                        <p class="mention">
                            <strong>Stage de fin d'études</strong> | 2020, 14 semaines (stage prolongé)<br>
                             UMCV - Le Boucalais
                        </p>
                        <p class="second-mention">
                            <ul>
                                <li>Création d'une charte graphique</li>
                                <li>Création d'un site web avec Wordpress et Elementor</li>
                                <li>Création d'une application web avec Twig et PHP</li>
                            </ul>
                        </p>
                    </div>
                </section>

                <section id="section9" class="section">
                    <div class="bar"></div>
                    <div id="square3" class="square-oriented"></div>
                </section>
                <section id="section10" class="section description">
                    <div class="training" id="mission">
                        <p class="mention">
                            <strong>Stage de première année</strong> | 2019, 3 semaines<br>
                            Mairie de Fleury d'Aude - Pôle communication tourisme animation
                        </p>
                        <p class="second-mention">
                            <ul>
                                <li>Rédaction d'articles de presse</li>
                                <li>Réalisation de divers supports de communication : print, web, vidéo</li>
                                <li>Création d'une charte graphique</li>
                                <li>Refonte du site web de la mairie sur Wordpress</li>
                            </ul>
                        </p>
                    </div>
                </section>

                <section id="section11" class="section">
                    <div class="bar"></div>
                    <div class="circle"></div>
                </section>
                <section id="section12" class="section description">
                    <div class="training" id="mission">
                        <p class="mention">
                            <strong>DUT Métiers du Multimédia et de l'Internet (MMI) spécialité INFORMATIQUE</strong> | 2018 - 2020<br>
                            IUT Paul Sabatier, Université Toulouse III - Site de Castres<br>
                        </p>
                    </div>
                </section>

                <section id="section13" class="section">
                    <div id="last-bar" class="bar"></div>
                    <div class="circle"></div>
                </section>
                <section id="section14" class="section description">
                    <div class="training" id="mission">
                        <p class="mention">
                            <strong>BAC scientifique option Physique-Chimie</strong> | 2018<br>
                            Mention Bien, Mention section européenne anglais<br>
                        </p>
                    </div>
                </section>

                <!--<div id="rectangle"></div>
                <div id="small-container-parcours">
                    <div class="training" id="mission">
                        <div class="cercle" id="cercle1"></div>
                        <p class="mention">
                            <strong>Mission de service</strong> | 2021 - 2022, en cours<br>
                            Secours catholique, Croix-Rouge, Banque alimentaire
                        </p>
                    </div>
                    <div class="training">
                        <div class="carre-oriente" id="carre1"></div>
                        <p class="mention">
                            <strong>Job d'été</strong> | 2020, 1 mois<br>
                            Association Union Mazamétaine des Centres de Vacances (UMCV) - Centre de vacances Le Boucalais à Vieux-Boucau
                        </p>
                        <p class="second-mention">
                            Agent d'entretien : nettoyage et désinfection des sanitaires et des douches, nettoyage des chambres et des pièces communes
                        </p>
                    </div>
                    <div class="training">
                        <div class="carre-oriente centrer"></div>
                        <p class="mention">
                            <strong>Stage de fin d'études</strong> | 2020, 14 semaines (stage prolongé)<br>
                             UMCV - Le Boucalais
                        </p>
                        <p class="second-mention">
                            <ul>
                                <li>Création d'une charte graphique</li>
                                <li>Création d'un site web avec Wordpress et Elementor</li>
                                <li>Création d'une application web avec Twig et PHP</li>
                            </ul>
                        </p>
                    </div>
                    <div class="training">
                        <div class="carre-oriente centrer"></div>
                        <p class="mention">
                            <strong>Stage de première année</strong> | 2019, 3 semaines<br>
                            Mairie de Fleury d'Aude - Pôle communication tourisme animation
                        </p>
                        <p class="second-mention">
                            <ul>
                                <li>Rédaction d'articles de presse</li>
                                <li>Réalisation de divers supports de communication : print, web, vidéo</li>
                                <li>Création d'une charte graphique</li>
                                <li>Refonte du site web de la mairie sur Wordpress</li>
                            </ul>
                        </p>
                    </div>
                    <div class="training">
                        <div class="cercle centrer"></div>
                        <p class="mention">
                            <strong>DUT Métiers du Multimédia et de l'Internet (MMI) spécialité INFORMATIQUE</strong> | 2018 - 2020<br>
                            IUT Paul Sabatier, Université Toulouse III - <a href="https://www.mmi.iut-tlse3.fr/" target="_blank">Site de Castres</a><br>
                        </p>
                    </div>
                    <div class="training">
                        <div class="cercle centrer"></div>
                        <p class="mention">
                            <strong>BAC scientifique option Physique-Chimie</strong> | 2018<br>
                            Mention Bien, Mention section européenne anglais<br>
                        </p>
                    </div>
                </div>-->
            </div>
        </article>

{% endblock %}