{% extends "accueil.html.twig" %}

{% block section %}

    <article>
        <h1>Mes réalisations</h1>
        <div id="realisations">
            <div class="realisation">
                <div>
                    <a href="https://aiolah-vaiti.fr/appli-boucalais" target="_blank" title="L'application du Boucalais">
                        <img src="images/Application-du-Boucalais.PNG" class="image" alt="Application du Boucalais">
                    </a>
                </div>
                <div class="title">Application du Boucalais</div>
                <div class="icons">
                    <span class="hint--top hint--rounded" aria-label="Application de gestion pour le centre de vacances Le Boucalais. Un client peut créer des devis et accéder à des documents.">
                        <img src="images/i-bleu.png" class="i" alt="Icône i information">
                    </span>
                    <a href="https://aiolah-vaiti.fr/appli-boucalais" target="_blank" title="Clique pour découvrir le site !">
                        <img src="images/website-bleu.png" class="website" alt="Icône site">
                    </a>
                    <a href="https://github.com/aiolah/appli-boucalais" target="_blank" title="Clique pour lire le code !">
                        <img src="images/github-bleu.png" class="github" alt="Icône Github">
                    </a>
                </div>
            </div>
            <div class="realisation">
                <div>
                    <a href="http://leboucalais.fr" target="_blank" title="Le site du Boucalais">
                        <img src="images/Le-Boucalais.PNG" class="image" alt="Capture d'écran du site du Boucalais">
                    </a>
                </div>
                <div class="title">Site du Boucalais</div>
                <div class="icons">
                    <span class="hint--top hint--rounded" aria-label="Site du centre de vacances Le Boucalais créé avec Wordpress et Elementor.">
                        <img src="images/i-orange2.png" class="i" alt="Icône i information">
                    </span>
                    <a href="http://leboucalais.fr" target="_blank" title="Clique pour découvrir le site !">
                        <img src="images/website-orange2.png" class="website" alt="Icône site">
                    </a>
                </div>
            </div>
            <div class="realisation">
                <div>
                    <a href="https://aiolah-vaiti.fr/Fusion/index.html" target="_blank" title="Le site de Fusion">
                        <img src="images/Fusion.PNG" class="image" alt="Capture d'écran du site de Fusion">
                    </a>
                </div>
                <div class="title">Fusion</div>
                <div class="icons">
                    <span class="hint--top hint--rounded" aria-label="Site réalisé lors de la Castres Web Week en 2019 organisée par l'IUT de Castres pour l'association Endimione.">
                        <img src="images/i-rouge.png" class="i" alt="Icône i information">
                    </span>
                    <a href="https://aiolah-vaiti.fr/Fusion/index.html" target="_blank" title="Clique pour découvrir le site !">
                        <img src="images/website-rouge.png" class="website" alt="Icône site">
                    </a>
                    <a href="https://github.com/aiolah/fusion" target="_blank" title="Clique pour lire le code !">
                        <img src="images/github-rouge.png" class="github" alt="Icône Github">
                    </a>
                </div>
            </div>
            <div class="realisation">
                <div class="image"></div>
                <div class="title">Chambres</div>
                <div class="icons">
                    <span class="hint--top hint--rounded" aria-label="Site réalisé lors de la deuxième Castres Web Week en 2020 organisée par l'IUT de Castres pour l'association UMCV.">
                        <img src="images/i-orange.png" class="i" alt="Icône i information">
                    </span>
                    <a href="https://aiolah-vaiti.fr/Chambres" target="_blank" title="Clique pour découvrir le site !">
                        <img src="images/website-orange.png" class="website" alt="Icône site">
                    </a>
                    <a href="https://github.com/aiolah/chambres" target="_blank" title="Clique pour lire le code !">
                        <img src="images/github-orange.png" class="github" alt="Icône Github">
                    </a>
                </div>
            </div>
            <div class="realisation">
                <div>
                    <a href="https://aiolah-vaiti.fr/Nuit-de-l'info/" target="_blank" title="Mon site sur la Nuit de l'info">
                        <img src="images/Nuit-de-l'info.PNG" class="image" alt="Capture d'écran du site de la Nuit de l'info">
                    </a>
                </div>
                <div class="title">Nuit de l'info</div>
                <div class="icons">
                    <span class="hint--top hint--rounded" aria-label="Animation réalisée lors de la Nuit de l'info 2019.">
                        <img src="images/i-violet.png" class="i" alt="Icône i information">
                    </span>
                    <a href="https://aiolah-vaiti.fr/Nuit-de-l'info" target="_blank" title="Clique pour découvrir le site !">
                        <img src="images/website-violet.png" class="website" alt="Icône site">
                    </a>
                    <a href="https://github.com/aiolah/nuit-de-l-info" target="_blank" title="Clique pour lire le code !">
                        <img src="images/github-violet.png" class="github" alt="Icône Github">
                    </a>
                </div>
            </div>
            <div class="realisation">
                <div>
                    <a href="https://aiolah-vaiti.fr/Guyane" target="_blank" title="Le site des animations sur la Guyane">
                        <img src="images/Guyane.PNG" class="image" alt="Capture d'écran du site de Guyane">
                    </a>
                </div>
                <div class="title">Guyane</div>
                <div class="icons">
                    <span class="hint--top hint--rounded" aria-label="Animations CSS réalisées lors d'un voyage en Guyane.">
                        <img src="images/i-jaune.png" class="i" alt="Icône i information">
                    </span>
                    <a href="https://aiolah-vaiti.fr/Guyane" target="_blank" title="Clique pour découvrir le site !">
                        <img src="images/website-jaune.png" class="website" alt="Icône site">
                    </a>
                    <a href="https://github.com/aiolah/guyane" target="_blank" title="Clique pour lire le code !">
                        <img src="images/github-jaune.png   " class="github" alt="Icône Github">
                    </a>
                </div>
            </div>
        </div>
    </article>

{% endblock %}